{
  "openapi": "3.0.0",
  "info": { "title": "Public API", "description": "", "version": "0.0.1" },
  "servers": [{ "url": "https://api.scaleframe.app/api:public" }],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/account": {
      "post": {
        "summary": "Create an account (company) in Playmaker and enroll them in a Play.",
        "description": "Create an account (company) in Playmaker and enroll them in a Play.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required",
        "tags": ["account"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": { "type": "object", "description": "" }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": { "description": "Unauthorized" },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": { "description": "Rate Limited. Too many requests." },
          "500": { "description": "Unexpected error" }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "(Required) - This company\u0027s primary domain, not including www or https://. \n\n(Example: apple.com, sony.com)"
                  },
                  "play_id": {
                    "type": "string",
                    "description": "(Required) - The id of the play that you would like to add this Account to.\n\nThis value can be found through the \u0022Get Plays\u0022 endpoint, or in the app by visiting the Play and grabbing its ID from the url."
                  },
                  "name": {
                    "type": "string",
                    "description": "(Optional) - The name of this company.",
                    "nullable": true
                  },
                  "linkedin": {
                    "type": "string",
                    "description": "(Optional) - The Linkedin URL of this company.",
                    "nullable": true
                  }
                },
                "required": ["domain", "play_id"]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "(Required) - This company\u0027s primary domain, not including www or https://. \n\n(Example: apple.com, sony.com)"
                  },
                  "play_id": {
                    "type": "string",
                    "description": "(Required) - The id of the play that you would like to add this Account to.\n\nThis value can be found through the \u0022Get Plays\u0022 endpoint, or in the app by visiting the Play and grabbing its ID from the url."
                  },
                  "name": {
                    "type": "string",
                    "description": "(Optional) - The name of this company.",
                    "nullable": true
                  },
                  "linkedin": {
                    "type": "string",
                    "description": "(Optional) - The Linkedin URL of this company.",
                    "nullable": true
                  }
                },
                "required": ["domain", "play_id"]
              }
            }
          }
        }
      }
    },
    "/contact": {
      "post": {
        "summary": "Create a contact (person) in Playmaker and enroll them in a Play.",
        "description": "Create a contact (person) in Playmaker and enroll them in a Play.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required",
        "tags": ["contact"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": { "type": "object", "description": "" }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": { "description": "Unauthorized" },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": { "description": "Rate Limited. Too many requests." },
          "500": { "description": "Unexpected error" }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string", "description": "" },
                  "play_id": { "type": "string", "description": "" },
                  "first_name": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "last_name": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "full_name": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "title": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "linkedin": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "company": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "",
                        "nullable": true
                      },
                      "domain": {
                        "type": "string",
                        "description": "",
                        "nullable": true
                      },
                      "linkedin": {
                        "type": "string",
                        "description": "",
                        "nullable": true
                      }
                    }
                  }
                },
                "required": ["email", "play_id"]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string", "description": "" },
                  "play_id": { "type": "string", "description": "" },
                  "first_name": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "last_name": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "full_name": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "title": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "linkedin": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "company": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "",
                        "nullable": true
                      },
                      "domain": {
                        "type": "string",
                        "description": "",
                        "nullable": true
                      },
                      "linkedin": {
                        "type": "string",
                        "description": "",
                        "nullable": true
                      }
                    }
                  }
                },
                "required": ["email", "play_id"]
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "summary": "Test your API credentials and retrieve your company\u0027s basic information.",
        "description": "Test your API credentials and retrieve your company\u0027s basic information.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required",
        "tags": ["me"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": {} }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": { "description": "Unauthorized" },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": { "description": "Rate Limited. Too many requests." },
          "500": { "description": "Unexpected error" }
        }
      }
    },
    "/plays": {
      "get": {
        "summary": "Retrieve a list of your company\u0027s Plays.",
        "description": "Retrieve a list of your company\u0027s Plays.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required",
        "tags": ["plays"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": {} }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": { "description": "Unauthorized" },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": { "description": "Rate Limited. Too many requests." },
          "500": { "description": "Unexpected error" }
        }
      }
    }
  }
}
